@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root {
    --grey-text: rgb(160, 160, 160);
    --bg-hover: rgba(128, 128, 128, 0.604);
    --bg-body: rgb(18, 18, 18);
    --bg-nowplay: rgb(24, 24, 24);
    --spotify-green: rgb(29, 185, 84);
}

body {
    font-family: 'Didact Gothic', sans-serif;
    background-color: var(--bg-body); /* gradient al main! */
}

/* -------> ALT NAVBAR <--------- */

.alt-navbar .navbar-alt-color {
    background-color: black;
}

.alt-navbar ul li {
    list-style: none;
    font-size: 1rem;
}

.alt-navbar ul li:hover {
    background-color: var(--bg-hover);  
}

.alt-navbar ul li a:hover {
    color: white;
}

/* -------> SIDEBAR <--------- */

.sidebar {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start; */          
    contain: content;
    font-size: 0.9rem;
    background-color: black;
    padding-left: 1rem;
}

.sidebar .spotify-logo {
    object-fit: cover;
    /* align-self: center; */
}

.sidebar ul li {
    list-style: none;
    font-size: 0.8rem;
}

.sidebar ul li:hover {
    background-color: var(--bg-hover);  
}

.sidebar .icons-menu i {
    font-size: 1.2rem;
    padding-right: 0.5rem;
}

.sidebar .icons-menu li,
.sidebar .playlist-menu li {
    font-weight: bolder;
}

.sidebar ul li a {
    color: var(--grey-text);
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: white;
}

.sidebar div.playlist-menu { /* touching the borders of the div */
    border-bottom: 1px solid var(--grey-text);
}

.sidebar div.genres-menu ul {
    overflow-y: scroll;
    height: 400px;
    /* height: 100%; */
}

.sidebar div.genres-menu ul li { /* why without a works - color ellipsis dots*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--grey-text);
    max-width: 200px;
}

.sidebar .install-app {
    /* position: absolute; */
    background-color: black;
    color: var(--grey-text);
    font-weight: bolder;
    /* height: 1.5rem; */
    /* align-self: center; */
    /* display: flex; */
    /* justify-content: center;
    bottom: 0;
    left: 0;
    right: 0; */
    /* z-index: 9; */
}

.sidebar .install-app:hover {
    /*background-color: var(--bg-hover);*/
    color: white;
}

@media (max-width: 999px) {
    .sidebar, 
    .container--main .nav-avatar {
      display: none;
    }

    .alt-navbar {
        display: block;
    }

}

@media (min-width: 1000px) {
    .sidebar,
    .nav-avatar {
        display: block;
    }

    .alt-navbar {
        display: none;
    }
}

@media (max-height: 679px) {
    .sidebar {
        height: 470px;
        position: relative;
    }

    .sidebar .install-app {
        position: fixed;
        bottom: 0px;
        left: 12px;
        right: 0;
        height: 30px;
    }
}

@media (min-height: 680px) {
    .sidebar {
        height: 540px;
        /* position: relative; */
    }

    .sidebar .install-app {
        position: fixed;
        bottom: 0px;
        left: 12px;
        right: 0;
        height: 30px;
    }

}

@media (min-height: 799px) {
    .sidebar {
        height: 720px;
    }
}

/* -------> NAV-AVATAR <--------- */ /* color and border radius of avatar dd menu, dd menu not working */

div.nav-avatar {
    display: flex;
    justify-content: space-between;
}

/* change color and border radius to dropdown btn */
/* div.dd-btn {
    border-radius: 100px;
} */

div.avatar div.dropdown img.avatar-img {
    max-width: 25px;
    border-radius: 50%;
}

div.avatar div.dropdown .round-btn {
    border-radius: 50px;
    height: 38px;
}

/* -------> NOW PLAYING <--------- */
#heart.green {
    color: var(--spotify-green);
}

.progress-bar-container .right-min,
.progress-bar-container .left-min {
    font-size: .7rem;
}

/* general layout */
 div.container--nowplay {
    width: 100%; /* ✿✿✿✿✿✿ */
    position: fixed;
    bottom: 0;
    color: var(--grey-text);
    background-color: var(--bg-nowplay);
}

button.play-btn {
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    top: 0px;
}

button.play-btn:after {
    content: '';
    width: 0; /* make the container collapse */
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10px; 
    border-color: transparent transparent transparent black; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 3px;
    margin: auto;
}

/* width --> sistema dopo span e aggiungi a media queries se necessario */
 .container--nowplay .progress {
    width: 90%;
    background-color: var(--grey-text);
    height: 2px;
}

/* controllare cosa cambia questo */
.volume-bar .progress {
    width: 80px;
    background-color: var(--grey-text);
}

@media (max-width: 399px) {
    .album-song-icons {
        flex-wrap: nowrap;
    }

    .container--nowplay {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container--nowplay {
        width: 100%;
    }

    .container--nowplay .album-song-icons {
        width: 75%;
        /* justify-content: flex-start; */
    }

    .container--nowplay .song-info {
        width: 50%;
    }

    .container--nowplay .song-info h6, 
    .container--nowplay .song-info p {
        /* display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden; */      /* no need for width */
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 85% /* doesn't work without WIDTH */
    }

    .album-img {
        width: 15%;
    }

    .album-img img {
        width: 100%;
        height: 100%;
    }

    .song-icons .bi-laptop {
        display: none;
    }

    .controllers-icons .right-side,
    .controllers-icons .left-side,
    .controllers-progress .progress-bar-container,
    .volume-section {
        display: none;
    }

    .controllers-progress {
        width: 25%;
    }

    button.play-btn,
    button.pause-btn {
        display: inline;
    }
}

@media (min-width: 400px) {
    .album-song-icons {
        flex-wrap: nowrap;
    }

    .container--nowplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container--nowplay {
        width: 100%;
    }

    .container--nowplay .album-song-icons {
        width: 60%;
        /* justify-content: flex-start; */
    }

    .container--nowplay .song-info {
        width: 55%;
    }

    .container--nowplay .song-info h6, 
    .container--nowplay .song-info p {
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 85% /* doesn't work without WIDTH */
    }
    .album-img {
        width: 15%;
    }

    .album-img img {
        width: 100%;
        height: 100%;
    }

    .song-icons .bi-laptop {
        display: inline;
    }

    .progress-bar-container,
    .volume-section {
        display: none;
    }

    .controllers-progress {
        width: 40%;
    }

    button.play-btn,
    button.pause-btn {
        display: inline;
    }
}

@media (min-width: 599px) {
    .album-song-icons {
        flex-wrap: nowrap;
    }

    .container--nowplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container--nowplay {
        width: 100%;
    }

    .container--nowplay .album-song-icons {
        width: 40%;
    }

    .album-img {
        width: 15%;
    }

    .container--nowplay .song-info {
        width: 55%;
    }

    .container--nowplay .song-info h6, 
    .container--nowplay .song-info p {
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90% /* doesn't work without WIDTH */
    }

    .controllers-progress {
        width: 40%;
    }
    .progress-bar-container {
        display: flex;
        justify-content: center;
        width: 90%;

    }

    .controllers-progress {
        width: 40%;
    }

    button.play-btn,
    button.pause-btn {
        display: inline;
    }

    .volume-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
    }
}

@media (min-width: 1125px) {
    .album-img {
        width: 12%;
    }
}




/* ADD ARTIST PART EMANUELE */

#reginadicuori {
    background-image: url(assets/queen.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* green button artist page*/
#green-play--btn {
    width: 2rem;
    height: 2rem;
    background-color: var(--spotify-green); /* change with spotify green */
    border-radius: 50%;
    position: relative;
}

#green-play--btn::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 0 8px 12px;
    border-style: solid;
    border-color: transparent transparent transparent white;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
}




.artist-songs-bg {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgb(65, 60, 60) 0%,
      rgba(18, 18, 18, 255) 150px
    );
    background-repeat: no-repeat;
  }
  
  .spotify-circle {
    position: relative;
    height: 40px;
    width: 40px;
    background: #1db954;
    border-radius: 50%;
  }

  .top-part-artist-songs {  /*find a better solution*/
    display: flex;
    padding-top: 10 !important;
    margin-bottom: 10 !important;
  }

  .follow-class {
    align-self: center;
    margin-left: 20px;
    font-size: 0.7rem;
    font-weight: 700;
    color: white;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
  }
  
  .dots {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  
  .small-circle {
    margin-left: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.473);
  }
  
  .artist-song-rows {
    flex-direction: row;
  }

  .table-borderless td {
    color: white;
    font-size: 0.7rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .artist-pick {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-left: 2px;
  }

  .side-description {
    margin-left: 10px;
  }
  
  .side-description p {
    font-size: 0.5rem;
    color: rgb(211, 201, 201);
  }
  
  .side-description h3 {
    font-size: 0.7rem;
    color: white;
    font-weight: 700;
  }
  
  .posted {
    display: flex;
    flex-direction: row;
  }
  
  .posted p {
    margin-left: 5px;
  }













/* Triangle trick:
* = border-top 6 border-right 0 border-bottom 6 border-left 10
* border top and bottom --> makes it higher/shorter
* no need for border-right because it' pointing in that direction, and messes up with total width
* (if left pointing arrow--> no need for border-left)
* border-left = width of the arrow */

/* NOW PLAYING ALTERNATIVE */
/* .container--nowplay {
    width: 100vw;
    position: fixed;
    bottom: 0;
    color: var(--grey-text);
    background-color: var(--bg-nowplay);  
    display: flex;
    flex-direction: flex-row;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
} */

/* .album-img img {
    object-fit: cover;
    width: 50px;
    height: 50px;
} */

/* .container--nowplay .song-info {
    /* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;          no need for width 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;  /* doesn't work without WIDTH 
} */

/* .container--nowplay .song-info h6 {
    font-size: 0.9rem;
}
.container--nowplay .song-info p {
    font-size: 0.7rem;
} */

/* div.play-btn {
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    top: 8px;
} */

/* div.play-btn:after {
    content: '';
    width: 0; /* make the container collapse 
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10px; 
    border-color: transparent transparent transparent black; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 3px;
    margin: auto;
} */

/* .container--nowplay .progress {
    background-color: var(--grey-text);
    height: 2px;
}
.volume-icons .volume-bar {
    background-color: var(--grey-text);
    height: 2px;
} */